@import 'tailwindcss';

header {
  @apply flex justify-between items-center uppercase absolute w-full p-5;
}
header nav {
  @apply flex font-bold rounded-3xl;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  gap: 60px;
}
header figure {
  width: 50px;
  height: 70px;
}
header span {
  /* @apply rotate-270; */
  font-family: 'Aclonica', sans-serif;
}
header img {
  @apply w-full h-full object-cover;
}
header a {
  color: white;
}

.hero {
  @apply flex flex-col h-screen justify-center;
  gap: 20px;
}
.hero h1 {
  @apply capitalize;
  font-size: 96px;
}
.hero h2 {
  @apply capitalize w-1/2;
  font-size: 48px;
  font-family: 'Aclonica', sans-serif;
}
